/* 施設一覧リストのスタイル */
.facility-content{
    min-width: 680px;
}
.facility-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.facility-list-item {
    padding: var(--spacing-unit);
    border-bottom: 1px solid var(--border-color);
    transition: background-color 0.2s ease-in-out;
}

/* 最後のアイテムの下線は消す */
.facility-list-item:last-child {
    border-bottom: none;
}

.facility-list-item:hover {
    background-color: var(--light-gray-color);
}

.facility-list-item a {
    text-decoration: none;
    color: var(--primary-color);
    font-weight: 500;
    font-size: 1.1rem;
}

.facility-list-item a:hover {
    text-decoration: underline;
}
